* {
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  font-family: "Nerko One", cursive;
}

h3 {
  font-size: 24px;
}

.header {
  text-align: center;
  font-size: 42px;
}

.menu {
  margin-left: 10px;
}

.restartBtn {
  height: 30px;
  width: 100px;
  color: #9147ff;
  border-radius: 10px;
  border: 2px solid #9147ff;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 420px;
  height: 420px;
  gap: 5px;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 64px;
  cursor: pointer;
}

.message {
  display: none;
}
